.Img {
  position: relative;
  display: block;
  overflow: hidden;
  transition: all var(--t-d-fast) ease;

  .Link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
  }

  .Image {
    pointer-events: none;
  }

  .Blur {
    filter: blur(16px);
    transform: scale(1.05);
    transition: opacity var(--t-d-fast) var(--t-t-f-ease);
    opacity: 1;
    z-index: 1;
  }

  .BlurHidden {
    opacity: 0;
  }
}
